
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="icon" sizes="16x16" type="image/gif" href="/resources/images/icon_acme_16.gif">
    <link rel="icon" sizes="32x32" type="image/gif" href="/resources/images/icon_acme_32.gif">
    <link rel="icon" sizes="64x64" type="image/gif" href="/resources/images/icon_acme_64.gif">
    <link rel="icon" sizes="128x128" type="image/gif" href="/resources/images/icon_acme_128.gif">
    <title>ACME Laboratories</title>
    <meta name="ICBM" content="37.88188, -122.29524">
    <meta name="DC.title" content="ACME Laboratories">
</head>

<body>

<!--AD_START-->
<div align="center">
    <script type="text/javascript"><!--
    google_ad_client = "pub-5759188606642566";
    /* 728x90, created 9/23/09 */
    google_ad_slot = "8720321611";
    google_ad_width = 728;
    google_ad_height = 90;
    google_ad_channel = "1364652528";
    //-->
    </script>
    <script type="text/javascript"
            src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
<hr class="thick">
<!--AD_END-->

<table width="100%">
    <tr>
        <td align="left"><img width="111" height="64" src="/resources/images/anvil.gif" alt="anvil logo"></td>
        <td align="center">
            <table>
                <tr><td align="center" nowrap>
                    <b><font face="sans-serif" size="6">ACME Laboratories</font></b>
                </td></tr>
                <tr><td align="center" nowrap><b><font face="sans-serif" size="4">Graphics * Unix * Networks * Fun</font></b></td></tr>
            </table>
        </td>
        <td align="right"><img width="86" height="86" src="/resources/images/atom_ani.gif" alt="atom logo"></td>
    </tr>
    <tr>
        <td align="center" nowrap colspan="3"><b><font face="sans-serif" size="4">Purveyors of fine freeware since 1972.  On the net since 1991.</font></b></td>
    </tr>
</table>

<ul>
    <li> <a href="updates/"><b>ACME Updates.</b></a>
        <!-- <li> <b>Hire me!  <a href="resume.html">My r&eacute;sum&eacute;.</a></b> -->
    <li> <a href="maps.html">ACME Labs maps</a>, including:
        <ul>
            <li> <b>The <a href="//mapper.acme.com/">ACME Mapper</a>.</b>
            <li> <b><a href="GeoRSS/">ACME GeoRSS Map Viewer</a>.</b>
            <li> <b><a href="metro/">Paris Metro map</a>.</b>
            <li> <b><a href="planimeter/">ACME Planimeter</a>.</b>
        </ul>
    <li> The <a href="software/">ACME Labs freeware library</a>.
        <ul>
            <li> <a href="software/e/">e</a> - tiny EMACS-like text editor.
            <li> <a href="software/thttpd/">thttpd</a> - tiny/turbo/throttling web server.
            <li> <a href="software/mini_httpd/">mini_httpd</a> - simple web server that does HTTPS.
            <li> <a href="software/micro_httpd/">micro_httpd</a> - world's smallest web server?
            <li> <a href="software/spfmilter/">spfmilter</a> - SPF mail filter module.
            <li> <a href="software/pbmplus/">pbmplus</a> - toolkit for converting image file formats.
            <li> The <a href="software/globe/">currently-lit face of the Earth</a>, in ASCII.
            <li> The <a href="software/phoon/">current phase of the Moon</a>, in ASCII.
        </ul>
    <li> The <a href="javascript/">ACME JavaScript utilities</a>.
    <li> The <a href="java/">ACME Java pages</a>.
        <ul>
            <li> The <a href="java/software/Phoon.html">current phase of the Moon</a>, in Java.
            <li> A <a href="java/software/Acme.Fmt.html">Java printf()-equivalent</a>.
            <li> A <a href="java/software/Acme.JPM.Encoders.GifEncoder.html">GIF encoder</a>!
            <li> <a href="java/software/Acme.Psg.html">PostScript-like graphics</a>.
            <li> A simple <a href="java/software/Acme.Serve.Serve.html">web server</a> in Java.
        </ul>
    <li> Tutorials and resources:
        <ul>
            <li> <b>The <a href="/comments/">ACME Comment Weblet</a>.</b>
            <li> <a href="webapis/">Web API Demonstrations</a>.
            <li> <a href="canvas/">HTML5 Canvas</a>.
            <li> <b>Learn how to <a href="mail_filtering/">filter out emailed spam</a>.</b>
            <li> The <a href="caption/">ACME Caption Maker</a>.
            <li> The <a href="chartmaker/">ACME Chartmaker</a>.
            <li> The <a href="annotator/">ACME Annotator</a>.
                <!--
                    <li> Learn how to <a href="build_a_pc/">configure and build a PC</a>.
                    <ul>
                      <li> <b>The <a href="build_a_pc/boardfinder/">ACME Motherboard Finder</a>.</b>
                    </ul>
                    <li> <b>The <a href="digicams/">ACME Digital Camera Database</a>.</b>
                    <li> <a href="spamwords/">ACME Spam Words</a>, for use with bogofilter.
                    <li> Learn about <a href="ad_brokers/">web advertising brokers</a>.
                    <li> A convenient <a href="searches.html">search forms page</a>.
                -->
            <li> <a href="twitter/twoday/">Twoday</a>, shows you what you tweeted on this day in past years.
            <li> Learn how to <a href="firewall.html">set up a FreeBSD firewall</a>.
            <li> An <a href="html_samples.html">HTML sampler</a>, and a <A HREF="colormap.html">colormap sampler</A>.
            <li> <a href="unicode/">Unicode characters</a>.
                <ul>
                    <li> <a href="unicode/transformations.html">Unicode Transformations</a>. </li>
                    <li> <a href="unicode/decode.html">Unicode Decoder</a>. </li>
                </ul>
            <li> <a href="onemonth/">One Month</a>, a single calendar page.
        </ul>
    <li> Toys and amusements:
        <ul>
            <li> The <a href="labelmaker/">ACME Label Maker</a>.
            <li> The <a href="licensemaker/">ACME License Maker</a>.
            <li> Just for Valentine's Day: the <a href="heartmaker/">ACME Heart Maker</a>.
            <li> The <a href="chumaker/">ACME ChuMaker</a>.
            <li> The <a href="chocolate/">ACME Chocolate Registry</a>.
            <li> <a href="calendar/">ACME Labs Calendar.</a>
        </ul>
    <li> <a href="news/login/">ACME News</a>, a free web conferencing system.
    <li> <a href="jef/">Jef Poskanzer's personal page.</a>
    <li> <a href="hardware/">acme.com's hardware.</a>
    <li> <a href="what_is_acme/">What does ACME mean?</a>
    <li> <a href="other_acmes.html">Other ACMEs on the web.</a>
        <!-- <li> <a href="mail/login/">Free acme.com email addresses.</a> -->
        <!-- <li> <a href="names.html">Free *.acme.com subdomains.</a> -->
    <li> <a href="license.html">ACME Labs Freeware License.</a>
    <li> <a href="privacy.html">ACME Labs Privacy Policy</a>.
        <!-- <li> <a href="advertise.html"><b>Advertise on acme.com.</b></a> -->
    <li> <a href="donate/"><b>Donate $5 to help support ACME Labs.</b></a>
        <!-- <li> <a href="http://www.99dogs.com/portal/associate.html?assoc=4SN-JZ9&amp;page=store"><b>ACME Labs T-Shirts.</b></a> -->
</ul>

<hr class="thick">

<p>
    Note: the only affiliation between ACME Laboratories and Warner Brothers
    is that I've been a fan of Wile E. Coyote for decades.
</p>

<hr class="thick">

<a href="https://validator.w3.org/check?uri=referer"><img class="logo" width="88" height="31" border="0" src="/resources/images/valid-html401-gold.png" alt="valid HTML"></a>

<p>
    <a href="/mailto/?id=wa"><img class="mailto" src="/mailto/wa.gif" alt="email"></a>
    <br>
    <a href="/software/thttpd/"><img border="0" src="/software/thttpd/logos/thttpd_powered_2.gif" alt="logo"></a>
</p>

</body>

</html>
